$active: #EA3333;
.mc-fixtab {
  & {
    position: relative;
    width: 100%;
    //background: #fff;
    //box-shadow: 0 0 3px rgba(0, 0, 0, .1);
  }

  &.is-fixed {
    position: fixed;
    left: 0;
    right: 0;
    z-index: 1001;
    //padding: 0 1em;
  }
}

// 滚动条容器
.mc-fixtab-wrap {
  overflow-x: auto;
}

.mc-fixtab-navs {
  white-space: nowrap;
  //height: 4em;
  top: 0;
  left: 0;
  text-align: center;
  z-index: 100;
  //padding-top: 1em;
  transition: opacity .3s;

  & > * {
    display: inline-block;
    //padding: 2px .5em;
    //border: 1px solid #000;
    //margin: 0 5px;
    //background: #fff;

    &.active {
      //border: 1px solid $active;
      //background: $active;
      //color: #fff;
    }
  }
}
