@import "~@mcui/mc-reset";
@import "~@mcui/mc-base";
@import "~mc-tinting/theme/mc-tinting@theme=default";
@import "../../lib/theme/mc-fixtab@theme=aa";

html {
  font-size: 12px;
}

body {
  max-width: 640px;
  padding: 1rem;
  margin: 0 auto;
}

h1 {
  text-align: center;
}

.style-floor {
  height: 800px;
  padding: 10px 0;
  text-align: center;
  font-weight: bold;
  border: 1px solid #999;
  margin: 3rem 0;

  &:nth-child(odd) {
    background: #f5f5f5;
  }
}

#floor_nav {
  position: relative;
}

.mc-fixtab {
  //display: none;
  //min-height: 40px;
  height: 40px;
  line-height: 40px;
  background: #fff31a;

  &[data-expand="1"] {
    height: auto;

    .mc-fixtab-navs {
      white-space: normal;

      & > * {
        width: 25%;
        overflow: hidden;
        text-align: justify;
        text-overflow: ellipsis;
        white-space: nowrap;
        vertical-align: top;

      }
    }
  }

  .mc-fixtab-expand {
    position: absolute;
    width: 40px;
    height: 40px;
    background: #ff0000;
    right: 0;
    top: 0;
  }

  .mc-fixtab-navs {
    & > * {
      padding: 0 1em;

      &.active {
        color: #ff0000;
      }
    }
  }

  &.is-fixed {
    display: block;
  }
}
